CeLEDS/languages/CCGS.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.cellml.org/CeLEDS/CCGS/1.0#"
elementFormDefault="qualified">

<xs:element name="dictionary">
  <xs:complexType>
  <xs:sequence>
    <xs:element name="mapping" minOccurs="1" maxOccurs="unbounded">
      <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="keyname" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
